@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;800&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Luckiest+Guy&family=Open+Sans:wght@400;800&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c8b8db;
    font-family: 'Poppins', sans-serif;
}
.mynav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #502f4c;
    padding-block: 15px;
    z-index: 1;
}
.mynav:hover{
    background-color: black;
    border-bottom: solid 1px gray;
    transition: 0.7s;
}
.mynav a{
    /*color: white;*/
    text-decoration: none;
    color: white;
}
.mynav .navlink ul{
    /*display: flex;*/
    list-style: none;
    display: flex;
    gap: 25px;
}
.mynav .navlink ul li{
    margin: 0 20px;
}
.mynav a:hover{
    color: #c5d86d;
}

.mynav .fa-solid{
    display: none;
    margin-right: 20px;
    color: white;
    font-size: 30px;
}
@media screen and (max-width: 717px){
    /*.mynav .fa-solid{
        display: block;
    }
    .navlink{
        display: none;
    }*/
    .mynav .navlink ul{
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .mynav .fa-solid{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
}

/* -------HEADER----------*/

.myhead{
    background: rgba(0,0,0,0.8) url('images/wallpaper1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.myhead .back-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.myhead .back-img .first-section-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.myhead .back-img .first-section-container .bienvenidos .gos-text{
    margin-top: 10px;
    font-size: 100px;
    font-weight: bolder;
}
.myhead .back-img .first-section-container .bienvenidos .petito{
    font-family: 'Chonburi';
    font-size: 40px;
    font-weight: bolder;
    color: #c5d86d;
}
.myhead .back-img .first-section-container p{
    margin-top: 15px;
    margin-bottom: 50px;
}
.myhead .back-img .apropos .fa-solid{
    color: #c5d86d;
    font-size: 40px;
}
@media screen and (max-width: 600px){
    .myhead .back-img .first-section-container .bienvenidos .gos-text{
        font-size: 50px;
    }
    .myhead .back-img .first-section-container .bienvenidos .petito{
        font-size: 30px;
    }
}

/* -----------SECTION A PROPOS DE NOUS --------------*/

.section-apropos{
    padding: 80px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*background-color: #c8b8db;*/
}
.section-apropos .partie-gauche{
    padding: 100px;
    background-color: #70587c;
    font-size: 35px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px){
    .section-apropos .partie-gauche .gauche-container .text-para{
        font-size: 20px;
    }
}
.section-apropos .partie-droite{
    padding: 0 50px 50px 50px;
}
.section-apropos .partie-droite a{
    text-decoration: none;
}
.section-apropos .partie-droite .droite-container .titre{
    font-size: 30px;
    border-bottom: solid 5px #0D1321;
    margin-bottom: 10px;
}
.section-apropos .partie-droite .droite-container .first-para{
    text-align: justify;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}
.section-apropos .partie-droite .droite-container .second-para{
    text-align: justify;
    margin-bottom: 25px;
}

.section-apropos .partie-droite .rejoindre-btn{
    border: solid 5px black;
    padding: 10px 25px;
    color: #c5d86d;
    font-weight: bold;
    border-radius: 15px;
    background-color: black;
}
@media screen and (max-width: 600px){
    .mymain .section-apropos .partie-droite .rejoindre-btn{
        font-size: 15px;
        padding: 10px 20px;
    }
    .section-apropos .partie-droite .droite-container .titre{
        font-size: 25px;
    }
}
.mymain .section-apropos .partie-droite .rejoindre-btn:hover{
    border: solid 5px black;
    background-color: #c8b8db;
    color: black;
    transition: 0.4s;
}
@media screen and (max-width: 800px){
    .section-apropos{
        padding: 80px 0 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*background-color: #c8b8db;*/
    }
    .section-apropos .partie-gauche{
        margin-bottom: 50px;
    }
}

/*............Blog...............*/

.slider {
    margin-bottom: 30px;
    position: relative;
  }
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #ff9966; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, black, black); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5e62, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  .slider-card {
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
    max-width: 350px;
    text-align: center;
  }
  .slider-card img {
      max-width: 100%;
      height: 200px;
    border-radius: 5px 5px 0px 0px;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: black !important;
  } 
  .slider .p-4{
    font-size: 13px;
}
.slider .mb-0{
    font-size: 18px;
}
.slider .owl-carousel .slider-card .article{
    padding-bottom: 20px;
}
.slider .owl-carousel .slider-card .article .auth{
    padding-top: 10px;
}
.slider .owl-carousel .slider-card .article a{
    border: #c5d86d solid 2px;
    color: #c5d86d;
    text-decoration: none;
}

@media screen and (max-width: 800px){
    .slider {
        margin-bottom: 20px;
        position: relative;
        text-overflow: ellipsis;
      }
      .slider-card {
        margin: 30px 10px 40px 10px;
        max-width: 250px;
        height: 270px;
        text-overflow: ellipsis;
      }
      .slider-card img {
            max-width : 100%;
            height : 100px;
      }
      .slider .article a{
          font-size: 12px;
      }
  }

  @media screen and (max-width: 750px){
    .slider-card{
        height: 285px;
    }
}
@media screen and (max-width: 1000px){
.slider .text-center{
    font-size: 14px;
}
.slider .article .auth{
    font-size: 12px;
}
}


/*-------Publications récentes--------------*/

.content{
    width: 90%;
    margin: 30px auto 30px;
}
.content .main-content{
    width: 65%;
    float: left;
    display: flex;
    flex-direction: column;
}
.content .main-content .recent-post-title{
    border-bottom: solid 3px black;
}
.content .main-content .articles{
    display: flex;
    padding: 90px 0px 0px 0px;
}
.content .main-content .articles .article-txt{
    padding: 0px 40px 0px 40px;
}
.content .main-content .articles .article-txt .editor{
    padding: 10px 0px;
    color: rgb(83, 83, 83);
}
.content .main-content .articles .article-txt a{
    text-decoration: none;
    color: #c5d86d;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
}
.content .main-content .articles .article-txt .article-content{
    text-align: justify;
    margin-bottom: 20px;
}
.content .main-content .articles .article-img{
    width: 800px;
}
.content .main-content .articles .article-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content .sidebar{
    padding: 0px 0px 0px 30px;
    width: 35%;
    float: right;
}
.content .sidebar .sidebar-title{
    border-bottom: solid 3px black;
}
.content .sidebar .article-txt{
    padding: 20px 0px 0px 0px;
}
.content .sidebar .article-txt .editor{
    color: rgb(83, 83, 83);
}
.content .sidebar .article-txt .article-content{
    text-align: justify;
}
.content .sidebar .article-txt p{
    font-size: 13px;
}
@media screen and (max-width: 1200px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .content .sidebar{
        width: 100%;
        margin-top: 50px;
    }
    .content .main-content .articles{
        display: flex;
        flex-direction: column;
    }
    .content .main-content{
        width: 100%;
    }
    .content .main-content .articles{
        flex-direction: row;
        justify-content: center;
    }
    .content .main-content .articles .article-img{
        width: 1000px;
    }
    .content .main-content .articles .article-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
@media screen and (max-width: 800px){
    .content .main-content .articles .article-txt .article-content{
        font-size: 15px;
    }
    .content .main-content .articles .article-txt .titre{
        font-size: 18px;
    }
}
@media screen and (max-width: 680px){
    .content .main-content .articles{
        display: flex;
        flex-direction: column;
    }
    .content .main-content .articles .article-img{
        width: 90%;
        height: 250px;
    }
    .content .main-content .articles .article-img img{
        padding-left: 40px;
    }
}
  
/*--------Notre equipe ----------------*/

.ourteam{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.ourteam .presentation{
    /*display: flex;
    justify-content: center;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ourteam .presentation .img-team{
    width: 100%;
    height: auto;
    margin-right: 50px;
}
.ourteam .presentation .img-team img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.ourteam .presentation .pres-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #70587c;
    padding-left: 70px;
    padding-right: 70px;
}
.ourteam .presentation .pres-team .text-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.ourteam .presentation .pres-team .text-team a{
    text-decoration: none;
    color: white;
}
.ourteam .presentation .pres-team .text-team .text-title{
    font-size: 30px;
    margin-bottom: 10px;
}
.ourteam .presentation .pres-team .text-team .text-para{
    text-align: justify;
    font-size: 20px;
}
.ourteam .presentation .pres-team .text-team .reseaux{
    margin-top: 20px;
}
.ourteam .presentation .pres-team .text-team .reseaux i{
    font-size: 30px;
    margin: 15px;
}
@media screen and (max-width: 1000px){
    .ourteam .presentation{
        display: flex;
        flex-direction: column;
    }
}
.ourteam .organisation{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.ourteam .organisation .first-para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 35px;
}
.ourteam .organisation .first-para .title{
    font-size: 30px;
    margin-bottom: 15px;
}
.ourteam .organisation .second-para{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
}
.ourteam .organisation .second-para .gauche{
    background-color: #70587c;
    padding: 55px;
    color: white;
}
.ourteam .organisation .second-para .gauche .title{
    margin-bottom: 15px;
}
.ourteam .organisation .second-para .gauche .myul{
    margin-left: 50px;
}
.ourteam .organisation .second-para .droite{
    text-align: justify;
    padding: 0px 50px 0px 45px;
}
@media screen and (max-width: 1000px){
    .ourteam .organisation .second-para{
        display: flex;
        flex-direction: column;
    }
}
.ourteam .organisation .nombres{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 60%;
    padding: 40px 40px 40px 40px;
    background-color: black;
    color: #c8b8db;
}
.ourteam .organisation .nombres div{
    text-align: center;
}
.ourteam .organisation .nombres .mynumber{
    font-size: 70px;
}
.ourteam .organisation .nombres .title{
    font-size: 20px;
}
.ourteam .organisation .nombres div:hover{
    color: #c5d86d;
}
@media screen and (max-width: 1200px){
    .ourteam .organisation .nombres{
        width: 80%;
    }
}
@media screen and (max-width: 700px){
    .ourteam .organisation .nombres .mynumber{
        font-size: 40px;
    }
    .ourteam .organisation .nombres .title{
        font-size: 15px;
    }
}
.ourteam .organisation .final{
    text-align: center;
    margin: 50px 0px 50px 0px;
    padding: 0px 45px 0px 45px;
}

/*-----------section contact & coordonnées---------------*/

.coordonnees{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.coordonnees .cordon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #70587c;
}
.coordonnees .cordon .adresse{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.coordonnees .cordon .adresse .icon{
    color: white;
    font-size: 30px;
    margin-right: 15px;
}
.coordonnees .cordon .adresse .txt p{
    font-size: 15px;
    color: rgb(185, 185, 185);
}
.coordonnees .cordon .adresse .title{
    color: white;
    font-weight: 500;
}
.coordonnees .formulaire{
    display: flex;
    justify-content: center;
    padding: 50px 15px;
    width: 100%;
}
/*---formulaire-----*/

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coordonnees .formulaire form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}
.coordonnees .formulaire form input{
    width: 47%;
    height: 50px;
}
.coordonnees .formulaire form input:hover,
.coordonnees .formulaire form textarea:hover{
    border: 5px solid rgb(85, 85, 85);
}
.coordonnees .formulaire form input,
.coordonnees .formulaire form textarea{
    background-color: #c8b8db;
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 10px;
    outline: none;
    transition: 0.2s;
}
.coordonnees .formulaire form .object{
    width: 100%;
}
.coordonnees .formulaire form textarea{
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 50px;
}
.coordonnees .formulaire form button{
    width: 192px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: #c8b8db;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0 auto;
    outline: none;
    transition: 0.2s;
}
.coordonnees .formulaire form button:hover{
    border: solid 4px black;
    border-radius: 10px;
    background-color: #c8b8db;
    color: black;
    transform: translateY(-5px);
}
@media screen and (max-width: 500px){
    .coordonnees .formulaire form{
        flex-direction: column;
        width: 95%;
    }
    .coordonnees .formulaire form input{
        width: 100%;
    }
}
@media screen and (max-width: 700px){
    .coordonnees{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .coordonnees .cordon{
        padding-top: 50px;
    }
}



